html,
body {
    place-items: center;
    overflow-x: hidden;
}
.calendar {
    height: max-content;
    width: max-content;
    background-color: #f2e9d8;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    display: grid;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: #a8a296  5px 5px 5px 3px
}

@media (max-width: 479px) {
    .calendar {
        padding: 5px;
        border-radius: 10px;
        width: 290px;
        box-shadow: #a8a296  3px 3px 3px
    }

    .calendar-header {
        padding: 5px;
        font-size: 15px;
    }
}

.light .calendar {
    box-shadow: var(--shadow);
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: var(--color-txt);
    padding: 10px;
}

.calendar-body {
    padding: 10px;
}

@media (max-width: 479px) {
    .calendar-week-day {
        height: auto;
    }
}

.calendar-week-day {
    height: 100px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
}

.calendar-week-day div {
    display: grid;
    place-items: center;
    color: #84a3a6;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    color: #54665a;
}

.calendar-days div {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
}

@media (max-width: 479px) {
    .calendar-days div {
        font-size: 13px;
        height: auto;
        width: 10px;
    }
}

.calendar-days div span {
    position: absolute;
}

.calendar-days div:hover span {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.calendar-days div span:nth-child(1),
.calendar-days div span:nth-child(3) {
    width: 2px;
    height: 0;
    background-color: #54665a;
}

.calendar-days div:hover span:nth-child(1),
.calendar-days div:hover span:nth-child(3) {
    height: 100%;
}

.calendar-days div span:nth-child(1) {
    bottom: 0;
    left: 0;
}

.calendar-days div span:nth-child(3) {
    top: 0;
    right: 0;
}

.calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4) {
    width: 0;
    height: 2px;
    background-color: #313d49;
}

.calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4) {
    width: 100%;
}

.calendar-days div span:nth-child(2) {
    top: 0;
    left: 0;
}

.calendar-days div span:nth-child(4) {
    bottom: 0;
    right: 0;
}

.calendar-days div:hover span:nth-child(2) {
    transition-delay: 0.2s;
}

.calendar-days div:hover span:nth-child(3) {
    transition-delay: 0.4s;
}

.calendar-days div:hover span:nth-child(4) {
    transition-delay: 0.6s;
}

.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
    background-color: #efd9b2;
    color: #313d49;
    border-radius: 50%;
}

.calendar-days div.curr-date span {
    display: none;
}

.month-picker {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.month-picker:hover {
    background-color: #efd9b2;
}

.year-picker {
    display: flex;
    align-items: center;
}

.year-change {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
}

@media (max-width: 479px) {
    .year-change {
        height: auto;
        width: auto;
    }
}

.year-change:hover {
    background-color: #efd9b2;
}

.calendar-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.toggle {
    display: flex;
}

.toggle span {
    margin-right: 10px;
    color: #54665a;
}

.month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #f2e9d8;
    padding: 0;
    grid-template-columns: repeat(3, auto);
    display: grid;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
}

.month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 0.2s ease-in-out;
}

.month-list > div {
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    place-items: center;
    border: #efd9b2 3px solid;
    cursor: pointer;
}

.month-list > div > div {
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: #313d49;
}

.month-list > div > div:hover {
    background-color: #efd9b2;
}