/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

.custom-logo {
  width: 150px;
  height: 150px;
}

.logoImg-Desk {
  height: 80px;
  width: 80px;
  margin-right: 50px; 
  
}

.number-Desk{
  background-color: #313d49;
  color: white;
  text-align-last: center;
  height: 50%;
  width: 100%;
}

.navbar-nav {
  margin-left: 70%;
}

.navbar-Desk{
height: 10dvh;
width: 100dvw;
background-color:#f5f5dc  ;
} 